<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
  {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
  {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
  {% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
  {% endif %}
  {% include open-graph.html %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

  <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
  <link href="{{ site.url }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cleartype" content="on">

  <link rel="stylesheet" href="{{ site.url }}/css/main.css">
  <link rel="stylesheet" href="{{ site.url }}/css/justifiedGallery.min.css">
  <!-- HTML5 Shiv and Media Query Support for IE -->
  <!--[if lt IE 9]>
  <script src="{{ site.url }}/js/vendor/html5shiv.min.js"></script>
  <script src="{{ site.url }}/js/vendor/respond.min.js"></script>
  <![endif]-->

</head>

<body id="js-body">
{% include browser-upgrade.html %}
{% include header.html %}
{% include navigation-sliding.html %}

<div id="main" role="main">
  <div class="wrap">
    {% if page.image.feature %}
    <div class="page-feature">
      <div class="page-image">
        <img src="{{ site.url }}/images/headers/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}">
        {% if page.image.credit %}{% include image-credit.html %}{% endif %}
      </div><!-- /.page-image -->
    </div><!-- /.page-feature -->
    {% endif %}
    <div class="page-title">
      <h1>{{ page.title }}</h1>
      {% if page.excerpt %}<h2>{{ page.excerpt }}</h2>{% endif %}
    </div>
    <div class="archive-wrap">
      <div class="page-content">
        <div id="gallery" style="display:none; margin-bottom: 20px;">
      </div><!-- /.page-content -->
    </div class="archive-wrap"><!-- /.archive-wrap -->
  </div><!-- /.wrap -->
</div><!-- /#main -->

<script src="{{ site.url }}/js/vendor/jquery-1.9.1.min.js"></script>
<script src="{{ site.url }}/js/main.js"></script>
<script src="{{ site.url }}/js/plugins/jquery.justifiedGallery.min.js"></script>

<script>
  var photos = [];
  var currentPosition = 0;
  //{% for photo in page.photolist %}
  photos.push({
    title: "{{ photo.title }}",
    url: "/photography/{{ photo.title | toStub }}/",
    thumbnail: "/images/photography/thumbnails/{{ photo.img }}.jpg",
    date: "{% exiftag date_time_original,, %}{{ photo.img }}.jpg{% endexiftag %}"
  });
  //{% endfor %}

  window.onload=function(){
    $("#gallery").justifiedGallery({
      rowHeight : 220,
      maxRowHeight: 340,
      margins : 5,
      border : 0,
      fixedHeight: false,
      lastRow : 'nojustify',
      captions: true
    });

    for (currentPosition; currentPosition < 30; currentPosition++) {
      var i = currentPosition;
      $('#gallery').append("<div itemscope itemtype=\"http:\/\/schema.org\/Photograph\">\r\n" +
        "<a itemprop=\"image\" class=\"swipebox\" title=\""+photos[i].title+"\" " +
        "href=\""+photos[i].url+"\">\r\n" +
        "<img alt=\""+photos[i].title+"\" itemprop=\"thumbnailUrl\"" +
        "src=\""+photos[i].thumbnail+"\"\/>\r\n" +
        "<meta itemprop=\"name\" content=\""+photos[i].title+"\" \/>\r\n" +
        "<meta itemprop=\"isFamilyFriendly\" content=\"true\" \/>\r\n" +
        "<meta itemprop=\"dateCreated\"" +
        "content=\""+photos[i].date+"\"\/>\r\n" +
        "<div itemprop=\"creator\" itemscope itemtype=\"http:\/\/schema.org\/Person\">\r\n" +
        " <div itemprop=\"sameAs\" href=\"http:\/\/theowinter.ch\/about\">\r\n" +
        "<meta itemprop=\"name\" content=\"Theo Winter\"\/>\r\n" +
        "<\/div>\r\n" +
        "<\/div>\r\n<\/a>\r\n<\/div>");
    }
    $('#gallery').justifiedGallery('norewind');

    $("#gallery").fadeIn(500);

    $(window).scroll(function() {
      if($(window).scrollTop() + $(window).height() == $(document).height()) {
        var jump = currentPosition+10;
        for (currentPosition; currentPosition < jump; currentPosition++) {
          var i = currentPosition;
          $('#gallery').append("<div itemscope itemtype=\"http:\/\/schema.org\/Photograph\">\r\n" +
            "<a itemprop=\"image\" class=\"swipebox\" title=\""+photos[i].title+"\" " +
            "href=\""+photos[i].url+"\">\r\n" +
            "<img alt=\""+photos[i].title+"\" itemprop=\"thumbnailUrl\"" +
            "src=\""+photos[i].thumbnail+"\"\/>\r\n" +
            "<meta itemprop=\"name\" content=\""+photos[i].title+"\" \/>\r\n" +
            "<meta itemprop=\"isFamilyFriendly\" content=\"true\" \/>\r\n" +
            "<meta itemprop=\"dateCreated\"" +
            "content=\""+photos[i].date+"\"\/>\r\n" +
            "<div itemprop=\"creator\" itemscope itemtype=\"http:\/\/schema.org\/Person\">\r\n" +
            " <div itemprop=\"sameAs\" href=\"http:\/\/theowinter.ch\/about\">\r\n" +
            "<meta itemprop=\"name\" content=\"Theo Winter\"\/>\r\n" +
            "<\/div>\r\n" +
            "<\/div>\r\n<\/a>\r\n<\/div>");
        }
        $('#gallery').justifiedGallery('norewind');
      }
    });
  }
</script>
</body>
</html>
